@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-image {
    width: 100vw;
}

.bottom-container {
    border-style: solid;
    border-color: #707070;
    border-width: 3px;
    padding: 24px;
}

.heading {
    font-size: 27px;
    font-weight: bold;
}

.list {
    font-weight: 500;
    margin-top: 10px;
}

.list-detail {
    margin-top: 5px;
}